body {
  margin: 0;
  background-color: hsl(180, 52%, 96%);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-header {
  width: 100%;
  background-color: hsl(180, 29%, 50%);
}

.listing-container {
  margin: 10rem;
  border: 2px solid green;
}

.job-listing {

  display: grid;
  grid-template-columns: .5fr repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;

}

@media screen and (min-width: 375px){

}
